<div class="main">
  <div class="tabControl">
    <div class="tabRootRadios">
      <mat-radio-group>
        <mat-radio-button *ngFor="let s of gramRootRadioText" [value]="s" 
          [checked]="s.indexOf('without') >= 0"
          (change)="gramRootChange($event)"
        > {{ s }}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="tabLangs">
      <mat-tab-group mat-align-tabs="end" (selectedTabChange)="langTabChange($event)">
        <mat-tab label="ar-de">
        </mat-tab>
        <mat-tab label="ar-en">
        </mat-tab>
        <mat-tab label="ar-fr">
        </mat-tab>
        <mat-tab label="all-langs">
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="graphMain">
    <div id="clusterListPane" class="listPane">
      <mat-form-field class="filter-form-field">
        <input matInput placeholder="Cluster filter by text:" 
          [(ngModel)]="clusterFilterInput"
          (input)="clusterFilterChange()"
        >
      </mat-form-field>
      <div class="selectionList">
        <mat-selection-list dense #selectedClusters>
          <mat-list-option caption dense *ngFor="let cluster of clusterGraphFiltered"
            [selected]="cluster.selected"
            (click)="selectCluster($event, cluster)"
          >
            {{ (clusterGraphFiltered.indexOf(cluster) + 1) + ': ' + cluster.nodes.length + ' nodes' }}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
    <div id="lemmalistPane" class="listPane">
      <mat-form-field class="filter-form-field">
        <input matInput placeholder="Texts in selected cluster:" 
          [(ngModel)]="nodeTextFilterInput"
          (input)="nodeTextFilterChange()"
        >
      </mat-form-field>
      <div class="selectionList">
        <mat-list>
          <mat-list-item *ngFor="let l of lemmaList" [class.hideLemmaItem]="!l.showed" 
            (click)="clickLemmaItem(l)"
            (mouseover)="mouseoverLemmaItem(l)"
            (mouseout)="mouseoutLemmaItem()"
          ><span [class]="getLemmaCircleSpecClass(l)">&#xf111;</span>
            {{ l.node.text }} 
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <div id="graphPane">
      <div class="graphControl">
        <div class="buttonControlBlock">
          <button mat-raised-button class="controlButton" (click)="stopSimulation()">stop</button>
          <button mat-raised-button class="controlButton" (click)="startSimulation()">start</button>
          <button mat-raised-button class="controlButton" (click)="ease()">ease graph</button>
          <button mat-raised-button class="controlButton" (click)="tense()">tense graph</button>
          <button mat-raised-button class="controlButton" (click)="zoomIn()">zoom in</button>
          <button mat-raised-button class="controlButton" (click)="zoomOut()">zoom out</button>
        </div>
        <div class="minMaxNodesControlBlock">
          <span class="minMaxNodesText">min nodes: </span>
          <input type="text" [(ngModel)]="minNodes" (input)="minNodesChange($event)">
          <span class="minMaxNodesText">({{ minNodesReal }})</span>
          <span class="minMaxNodesText">max nodes: </span>
          <input type="text" [(ngModel)]="maxNodes" (input)="maxNodesChange($event)">
          <span class="minMaxNodesText">({{ maxNodesReal }})</span>
        </div>
      </div>
      <div id="canvas" #canvas></div>
    </div>
  </div>
  
</div>