.controlButton {
  height: 20px;
}


.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  #lemmalistPane {
    min-width: 180px;
    // background-color: cadetblue;
    overflow: auto;
  }
  #canvas {
    flex-grow: 1;
  }
}