
$space: 2px;
$tabControlH: 30px;
$clusterListPaneW: 160px;
$textListPaneW: 180px;
$listItemColor: rgb(102, 102, 102);

.main {
  // margin: 2px 2px 2px 2px;
  margin: $space;
  width: calc(100% - #{$space} * 2);
  height: calc(100% - #{$space} * 2);

}

.selectionList {
  height: calc(100% - 0.4375em * 2 - 0.84375em - 1.25em - 20px);
  overflow-y: auto;
  overflow-x: hidden;

}

.filter-form-field {
  width: calc(100% - 20px);
}

.tabControl {
  display: flex;
  flex-direction: row;
  height: $tabControlH;

  .tabRootRadios {
    flex-grow: 1;
    width: 50%;
    color: darkgreen;
    padding-top: 5px;
    padding-left: 5px;

    .mat-radio-group {
      float: right;
    }
    .mat-radio-button ~ .mat-radio-button {
      margin-left: 16px;
    }
  }

  .tabLangs {
    margin-left: 20px;
  }
}

.graphMain {
  display: flex;
  flex-direction: row;
  height: calc(100% - #{$tabControlH});

  .listPane {
    margin-top: 5px;
    margin-right: 5px;

    mat-list {
      padding-top: 0px;
    }
  }

  mat-form-field {
    color: $listItemColor !important;
  }

  #clusterListPane {
    min-width: $clusterListPaneW;
    max-width: $clusterListPaneW;

    mat-list-option {
      color: $listItemColor;
    }
    mat-list-option:hover {
      background-color: cadetblue;
    }
  }

  #lemmalistPane {
    min-width: $textListPaneW;
    max-width: $textListPaneW;
    mat-list-item {
      color: $listItemColor;
    }
    mat-list-item:hover {
      background-color: darkcyan;
      cursor: pointer;
    }

    .circle {
      font-family: circle;
      font-size: 14px;
      margin-right: 5px;
    }
    .hideLemmaItem {
      display: none;
    }
  }

  #graphPane {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    .graphControl{
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;

      .buttonControlBlock {
        flex-grow: 1;

        .controlButton {
          font-size: 12px;
          height: 20px;
          line-height: 20px !important;
          margin-right: 4px;
        }
      }

      .minMaxNodesControlBlock {
        .minMaxNodesText {
          height: 20px;
          line-height: 20px;
          padding-bottom: 2px;
          font-size: 12px;
        }
        .minMaxNodesTextBefore {
          margin-left: 10px;
        }
        .minMaxNodesTextInput {
          width: 50px;
        }

        input {
          max-width: 70px;
        }
      }
    }

    #canvas {
      flex-grow: 1;
      border: 1px solid green;
    }
  }
  
}