
$space: 2px;
$tabControlH: 30px;

.main {
  // margin: 2px 2px 2px 2px;
  margin: $space;
  width: calc(100% - #{$space} * 2);
  height: calc(100% - #{$space} * 2);

}
.tabControl {
  display: flex;
  flex-direction: row;
  height: $tabControlH;

  .tabRootRadios {
    width: 50%;
    color: darkgreen;
    padding-top: 5px;
    padding-left: 5px;

    .mat-radio-button ~ .mat-radio-button {
      margin-left: 16px;
    }
  }
  .tabLangs {
    flex-grow: 1;
  }
  
}
.graphMain {
  display: flex;
  flex-direction: row;
  height: calc(100% - #{$tabControlH});

  #lemmalistPane {
    min-width: 220px;
    // background-color: cadetblue;
    overflow: auto;

    .filter-form-field {
      width: 100%;
    }
  }
  #graphPane {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 5px;
    
    .graphControl{
      margin-bottom: 5px;
      .controlButton {
        height: 20px;
        line-height: 20px !important;
        margin-right: 2px;
      }
    }
    #canvas {
      flex-grow: 1;
      border: 1px solid green;
    }
  }
  
}